@model EmployeeDto
@using PruebaCrud.Services.DTOs;

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editEmployeeModalLabel">Edit Employee</h5>
				<button type="button" onclick="javascript: window.location.reload()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <form class="row g-4">

					<input type="hidden" id="hiddenEmployeeId" asp-for="EmployeeID" name="EmployeeID">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-6 text-start">
						<label for="inputFullName" class="form-label">Full Name</label>
						<input type="text" class="form-control" id="inputFullName" asp-for="Name" name="Name" required placeholder="Full Name">
					</div>
                    <div class="col-6 text-start">
						<label for="inputTelephone" class="form-label">Telephone</label>
						<input type="tel" class="form-control" id="inputTelephone" asp-for="Telephone" name="Telephone" pattern="[0-9]{3}-[0-9]{4}" required placeholder="000-0000" data-validation-error-msg="Selecione un Tipo de Empleado.">
					</div>
                    <div class="col-6 text-start">
						<label for="inputEmployeeType" class="form-label">Employee Type</label>
						<select class="form-select" id="inputEmployeeType" asp-for="EmployeeTypeID" name="EmployeeTypeID" required data-validation-error-msg="Selecione un Tipo de Empleado.">
                           @foreach (var employeeTypes in ViewBag.EmployeeTypes)
                           {
                               <option value="@employeeTypes.EmployeeTypeID">@employeeTypes.EmployeeRole</option>
                           }
						</select>
					</div>
                    <div class="col-6 text-start">
						<label for="inputEmployementDate" class="form-label">Employment Date</label>
						<input type="date" class="form-control" id="inputEmployementDate" asp-for="EmploymentDate" name="EmploymentDate" required>
					</div>
					<div class="modal-footer">
						<div class="col text-start">
							<button type="button" class="btn btn-success text-start" onclick="Save()">Save changes</button>
							<button type="button" class="btn btn-warning text-start" data-bs-dismiss="modal">Close</button>
						</div>
						<div class="col text-end">
							<button type="submit" asp-action="DeleteEmployee" asp-controller="Employee" class="btn btn-danger text-end">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>