@model EmployeeDto
@using PruebaCrud.Services.DTOs

@{

}

<div class="container">
    <h1 class="display-5">Add Employee</h1><hr class="my-3"/>
    <form class="row g-4" method="post" asp-controller="AddEmployee" asp-action="InsertEmployee">
        <div class="col-6">
            <label for="inputFullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="inputFullName" asp-for="Name" name="Name" required placeholder="Full Name">
        </div>
        <div class="col-6">
            <label for="inputTelephone" class="form-label">Telephone</label>
            <input type="tel" class="form-control" id="inputTelephone" asp-for="Telephone" name="Telephone" pattern="[0-9]{3}-[0-9]{4}" required placeholder="000-0000" data-validation-error-msg="Selecione un Tipo de Empleado.">
        </div>
        <div class="col-6">
            <label for="inputEmployeeType" class="form-label">Employee Type</label>
           @* <select class="form-select" id="inputEmployeeType" asp-for="EmployeeTypeID" name="EmployeeTypeID" required data-validation-error-msg="Selecione un Tipo de Empleado.">
                @foreach (EmployeeTypeDto employeeType in @ViewBag.EmployeeTypeList)
                {
                    <option value="@employeeType.EmployeeTypeID">@employeeType.EmployeeRole</option>
                }*@

            <select class="form-select" id="inputEmployeeType" asp-for="EmployeeTypeID" name="EmployeeTypeID" required data-validation-error-msg="Selecione un Tipo de Empleado.">
                    <option value="">Role</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
            </select>
        </div>
        <div class="col-6">
            <label for="inputEmployementDate" class="form-label">Employment Date</label>
            <input type="date" class="form-control" id="inputEmployementDate" asp-for="EmploymentDate" name="EmploymentDate" required>
        </div>
        <div class="row">
            <div class="col text-start">
                <div class="col-3">
                    <button type="submit" class="btn btn-lg btn-success m-3 float-start">Add</button>
                </div>
            </div>
            <div class="col text-end">
                @Html.ActionLink("Cancel", "Index", "Employee", null, new{ @class="btn btn-lg btn-danger m-3 float-end"})
            </div>
        </div>
    </form>
</div>


